<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wild Series - nouvelle entrée{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
</head>
{% block header %}
    <header style="background-color:black; text-align: center">
        <h1 style="color:#ff0000">Une nouvelle série est arrivée!</h1>
    </header>
{% endblock %}

<body>
{% block body %}
    <body style="background-color: black">
    <p style="color:white; font-size: 1.5em; text-align: center">Cette série est: <strong>{{ program.title}}</strong></p>
    <p style="color:white; text-align: center; font-size: 1.4em">Vous pouvez la retrouver sur le lien ci dessous</p>
    <div style="text-align: center">
        <a href="http://localhost:8000/wild/show/program/{{ program.slug }}" style="color: white;font-size:1.2em; margin-left:4em">{{program.title}}</a>
    </div>
    </body>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
