body {
    background-color: white;
}

.navbar-home-box {
    background-color: #303030;
}
.title-navbar {
    color:  #ff0000;
}
.link-navbar {
    color: white;
}
.box-title-serie-one {
    text-align: center;
    margin: 4em;
}
.title-serie-one {
    text-align: center;
    font-size: 2.5em;
    border-bottom: 3px solid #303030;
}
.describe-serie {
    margin-right: 12em;
    margin-left: 12em;
    font-size: 1em;
    margin-bottom: 2em;
}
.episode-list {
    margin-left: 4em;
}
.text-syno {
    font-size: 0.8em;
    margin-right: 2em;
    margin-left: 2em;
}
.box-form-category {
    margin-top: 5em;
    padding-left: 8em;
}
.summary-block {
    width: 200px;
}
.title-actor {
    font-size: 3em;
    text-align: center;
    margin-top: 2em;
}
.h1_comment {
    text-align: center;
    color: #303030;
    margin: 2em;
}
.comment-box {
    text-align: center;
    margin: 8em;
}

.comment-text {
    font-size: 1em;
    font-style: italic;
}
.user-display-navbar {
    color: lawngreen;
    margin-right: 0.5em;
}